.option {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.option-button-wrapper {
    display: inline-block;
    text-align: center;
    margin: 10px 15px;
}
.option-button-wrapper > span {
    color: black;
    font-weight: 400;
    font-size: 1em;
}
.btn-group {
    margin-top: 5px;
}